{% extends "base.html" %}
{% block content %}

<form action="/pets/{{pet.id}}" method="post" class="edit-page-pet">
  <div class="p-name-group">
    <label for="name" class="p-name-label">Name:</label>
    <input type="text" id="name" name="name" value="{{pet.name}}" class="p-name-input" required autofocus>
  </div>

  <div class="p-vet-group">
    <label for="vet" class="p-vet-label">Vet:</label>
    <select id="vet-select" name="vet_id" value="{{pet.vet.id}}" class="p-vet-input" required>
      {% for vet in vets %}
        <option value="{{ vet.id }}" {% if pet.vet.id == vet.id %} selected="selected" {% endif %}>{{ vet.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="owner-group">
    <label for="owner" class="owner-label">Owner:</label>
    <select id="owner-select" name="owner_id" value="{{pet.owner.id}}" class="owner-input" required>
      {% for owner in owners %}
        <option value="{{ owner.id }}" {% if pet.owner.id == owner.id %} selected="selected" {% endif %}>{{ owner.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="dob-group">
    <label for="date_of_birth" class="dob-label">Date of Birth:</label>
    <input type="date" id="date_of_birth" name="date_of_birth" value="{{pet.date_of_birth}}" class="dob-input" required>
  </div>
  <div class="species-group">
    <label for="species" class="species-label">Species:</label>
    <input type="text" id="species" name="species" value="{{pet.species}}" class="species-input" required>
  </div>

  <div class="p-notes-group"> 
    <label for="treatment_notes" class="p-notes-label">Treatment Notes:</label>
    <textarea type="text" id="treatment-notes" name="treatment_notes" size="1000" class="p-notes-input" required>{{pet.treatment_notes}}</textarea>
  </div>

  <div class="nervous-group">
    <label for="nervous" class="nervous-label">Nervous?</label>
    <select id="nervous" name="nervous" value="{{pet.nervous}}" class="nervous-input" required>
        <option value="true"
        {% if pet.nervous == True %} selected="selected" {% endif %}>
        Yes
      </option>

      <option value="false"
        {% if pet.nervous == False %} selected="selected" {% endif %}>
        No
      </option>
    </select>
  </div>

  <button type="submit" class="update-pet-button">Update Pet</button>

</form>

{% endblock %}

