{% extends "base.html" %}
{% block content %}

<form class="add-pet" action="/pets/new">
  <button class="add-button">Add Pet</button>
</form>
{% for pet in pets %}
  <div class="pet">
    <div class="pet-content">
      <div class="pet-details">
        <a href="/pets/{{pet.id}}">{{pet.name}}</a>
        <label>Vet: </label><a href="/vets/{{pet.vet.id}}">{{pet.vet.name}}</a>
        <label>Owner: </label><a href="/owners/{{pet.owner.id}}">{{pet.owner.name}}</a>
      </div>
      <div>
        <form class="delete-pet" action="/pets/{{pet.id}}/delete" method="POST">
          <button class="delete-button">Delete</button>
        </form>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}