{% extends "base.html" %}
{% block content %}

<form action="/appointments/{{appointment.id}}" method="post">
    <div>
        <label for="pet">Pet:</label>
        <select id="pet-select" name="pet_id" required value="{{appointment.pet.name}}" autofocus>
          {% for pet in pets %}
            <option value="{{ pet.id }}">{{ pet.name }}</option>
          {% endfor %}
        </select>
      </div>


    <label for="vet">Vet:</label>
    <select id="vet-select" name="vet_id" value="{{appointment.vet.id}}" required>
      {% for vet in vets %}
        <option value="{{ vet.id }}">{{ vet.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="date_time_start">Start:</label>
    <input type="datetime-local" id="date_time_start" name="date_time_start" min="{{todays_date}}T00:00" value="{{start}}" required>
  </div>

  <div>
    <label for="date_time_end">End:</label>
    <input type="datetime-local" id="date_time_end" name="date_time_end" min="{{todays_date}}T00:00" value="{{end}}"required>
  </div>

  <div>
    <label for="appointment_notes">Appointment Notes:</label>
    <input type="text" id="appointment-notes" name="appointment_notes" value="{{appointment.appointment_notes}}" required>
  </div>

  <button type="submit" class="update-button">Update Appointment</button>

</form>

{% endblock %}

