{% extends "base.html" %}
{% block content %}

<form class="create-appointment" action="/appointments/new">
  <button class="add-button">Create Appointment</button>
</form>
{% for appointment in appointments %}
  <div class="appointment">
    <div class="appointment-content">
      <div class="appointment-details">
        <a href="/appointments/{{appointment.id}}" style="text-decoration:none">{{appointment.pet.name}} with {{appointment.vet.name}}</a>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}