{% extends "base.html" %}
{% block content %}

<form action="/appointments" method="post" class="new-page">
  <div>
    <label for="pet">Pet:</label>
    <select id="pet-select" name="pet_id" required autofocus>
      {% for pet in pets %}
        <option value="{{ pet.id }}">{{ pet.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="vet">Vet:</label>
    <select id="vet-select" name="vet_id" required>
      {% for all_vets in vets %}
        <option value="{{ all_vets.id }}" {% if all_vets.id == vet_appointment.id %} selected="selected" {% endif %}>{{ all_vets.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="date_time_start">Start:</label>
    <input type="datetime-local" id="date_time_start" name="date_time_start" min="{{todays_date}}T00:00" required>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class=flashes>
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
  </div>

  <div>
    <label for="date_time_end">End:</label>
    <input type="datetime-local" id="date_time_end" name="date_time_end" min="{{todays_date}}T00:00" required>
  </div>


  <div>
    <label for="appointment_notes">Appointment Notes:</label>
    <textarea type="text" id="appointment-notes" name="appointment_notes" required></textarea>
  </div>


  <button type="submit" class="add-button">Create Appointment</button>

</form>

{% endblock %}