{% extends "base.html" %}
{% block content %}

  <div>
    <p>Name: {{vet.name}}</p>
    <p>Species Specialism: {{vet.species_specialism}}</p>
    <label for="vets-pets"> Registered Pets:</label>
    <div class="vets-pets">
    {% for pet in pets %}
        <a href="/pets/{{pet.id}}" style="text-decoration:none">{{pet.name}}</a>
    {% endfor %}
    </div>
    <label for="vets-appointments"> Appointments:</label>
    <div calss="vets-appointments">
    {% for appointment in appointments %}
        <a href="/appointments/{{appointment.id}}" style="text-decoration:none">{{appointment.pet.name}}</a>
        <p>On: {{appointment.date}}</p>
        <p>At: {{appointment.start_time}}</p>
    {% endfor %}
    </div>
    <div class="show-buttons">
    <form class="back-to-vets" action="/vets">
        <button class="back-button">Back to Vets</button>
      </form>
    <form class="edit-vet" action="/vets/{{vet.id}}/edit">
        <button class="edit-button">Edit Vet</button>
    </form>
        <form class="delete-vet" action="/vets/{{vet.id}}/delete" method="POST">
          <button class="delete-button">Remove Vet</button>
      </form>
    </div>
  </div>

{% endblock %}