{% extends "base.html" %}
{% block content %}

  <div>
    <p>Name: {{vet.name}}</p>
    <p>Species Specialism: {{vet.species_specialism}}</p>
    <label for="vets-pets"> Registered Pets:</label>
    <div class="vets-pets"></div>
    {% for pet in pets %}
        <a href="/pets/{{pet.id}}">{{pet.name}}</a>
    {% endfor %}
    </div>
    <form class="back-to-vets" action="/vets">
        <button class="back-button">Back to Vets</button>
      </form>
    <form class="edit-vet" action="/vets/{{vet.id}}/edit">
        <button class="edit-button">Edit Vet</button>
      </form>
  </div>

{% endblock %}