{% extends "base.html" %}
{% block content %}
  <div class="new-buttons">
    <form class="create-appointment" action="/vets/{{vet.id}}/appointments/new">
      <button class="add-button">Create Appointment</button>
    </form>
    <form class="register-pet" action="/pets/new">
      <button class="add-button">Register Pet</button>
    </form>
    </div>
    <div class="vet-info">
    <p>Name: {{vet.name}}</p>
    <p>Species Specialism: {{vet.species_specialism}}</p>
    </div>
    <label for="vets-pets-label"> Registered Pets:</label>
    <div class="vets-pets">
    {% for pet in pets %}
        <a href="/pets/{{pet.id}}" style="text-decoration:none">{{pet.name}}</a>
    {% endfor %}
    </div>
    <label for="vets-appointments" class="appointments-label"> Appointments:</label>
    <div class="all-vet-appointments">
    {% for appointment in appointments %}
      <div class="vets-appointments">
          <a href="/appointments/{{appointment.id}}" style="text-decoration:none">{{appointment.pet.name}}</a>
          <p>On: {{appointment.date}}</p>
          <p>At: {{appointment.start_time.strftime("%H:%M")}}</p>
          <p>Contact Owner: {{appointment.pet.owner.name}}, {{appointment.pet.owner.telephone}}</p>
      </div>
    {% endfor %}
  </div>
    <div class="show-buttons">
    <form class="back-to-vets" action="/vets">
        <button class="back-button">Back to Vets</button>
      </form>
    <form class="edit-vet" action="/vets/{{vet.id}}/edit">
        <button class="edit-button">Edit Vet</button>
    </form>
        <form class="delete-vet" action="/vets/{{vet.id}}/delete" method="POST">
          <button class="delete-button">Remove Vet</button>
      </form>
    </div>
  </div>


{% endblock %}