html, body {
    height: 99%;
  }

.body {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(198, 255, 236);
    display: grid;
    grid-template-areas:
        'header-left header header-right'
        'aside-left main aside-right'
        'footer footer footer';
    grid-template-columns: 2.5fr 4fr 2.5fr;
    grid-template-rows: 1fr 8fr 1fr;
}

h2, p {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
}


a {
    color: rgb(238, 124, 24);
}

.index-pics{
    width: 250px;
    height: 200px;
}

.owners-nav, .index-vets, .index-pets {
    border: 0;
    line-height: 2;
    padding: 0 15px;
    font-size: 20px;
    text-align: center;
    color: rgb(238, 124, 24);
    border-radius: 10px;
    background-color: rgb(132, 255, 214);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .1),
                                      rgba(0, 0, 0, .1) 10%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .3),
                inset -2px -2px 3px rgba(0, 0, 0, .3);
}

.owners-nav:hover, .index-vets:hover, .index-pets:hover{
    background-color: rgb(166, 255, 225);
}

a:hover {
    color: rgb(238, 177, 24);
}

.index-buttons{
    display: grid;
    grid-template-areas:
    'vets pets';
    display: flex;
    justify-content: center;

}

.index-vets{
    grid-area: vets;
    font-size: 50px;
    padding: 50px;
    margin: 30px 30px 30px 30px;
}

.index-pets{
    grid-area: pets;
    font-size: 50px;
    padding: 50px;
    margin: 30px 30px 30px 30px;
}

.header{
    grid-area: header;
    height: 20px;
}

.header-middle{
    height: 40px;
}

.header-left{
    grid-area: header-left;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin: 10px 10px 10px 0;
    padding: 10px;
    height: 20px;
}

.header-right{
    grid-area: header-right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 10px 10px 0;
    padding: 10px;
    height: 20px;
}

.aside-left{
    grid-area: aside-left;
}

.aside-right{
    grid-area: aside-right;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
    color: rgb(238, 124, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 5px 0;
    padding: 10px;
}

.footer-text{
    position: absolute;
    bottom: 0;
}

label, select, input{
    margin: 5px 10px 5px 0;
    font-size: 20px;
}

.add-button, .back-button, .edit-button, .delete-button, .update-button, select, input, textarea{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    background-color: white;
    padding: 5px 5px;
    font-size: 18px;
    border: 0;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    margin: 10px;
}

.back-button{
    margin-left: 0px;
}

.add-button{
    margin-left: 0px;
}

.show-buttons, .new-buttons{
    display: flex;
    margin-top: 5px;
}

div > a {
    font-size: 20px;
}

.logo{
    width: 20px;
    height: 20px;
}

.home-nav{
    display: flex;
    align-items: center;
}

#treatment-notes{
    width: 50%;
    height: 100px;
}

.vet-content, .owner-content, .appointment-content, .pet-content{
    display: flex;
    flex-wrap: wrap;
}

.vet-details, .owner-detials, .appointment-detials, .pet-details{
    flex: 0.5;
    padding: 5px;
    padding-left: 0px;
    font-size: 20px;
    border: 0;
    line-height: 2;
    padding: 0 15px;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(132, 255, 214);
    background-image: linear-gradient(to top left,
                                        rgba(0, 0, 0, .05),
                                        rgba(0, 0, 0, .05) 1%,
                                        rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .3),
                inset -2px -2px 3px rgba(0, 0, 0, .3);
}

.pet-details, .vet-details, .all-vet-appointments{
    display: flex;
    flex-wrap: wrap;
}

.new-page, .vet-info, .vets-pets, .vets-appointments{
    flex: 0.5;
    padding-left: 0px;
    border: 0;
    line-height: 2;
    padding: 0 15px;
    border-radius: 10px;
    background-color: rgb(132, 255, 214);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .05),
                                      rgba(0, 0, 0, .05) 1%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .3),
                inset -2px -2px 3px rgba(0, 0, 0, .3);
}

.appointments-label{
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
