{% extends "base.html" %}
{% block content %}

<form class="add-owner" action="/owners/new">
  <button class="add-button">Add owner</button>
</form>
{% for owner in owners %}
  <div class="owner">
    <div class="owner-content">
      <div class="owner-details">
        <a href="/owners/{{owner.id}}">{{owner.name}}</a>
      </div>
      <div>
        <form class="delete-owner" action="/owners/{{owner.id}}/delete" method="POST">
          <button class="delete-button">Delete</button>
        </form>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}