{% extends "base.html" %}
{% block content %}

  <div>
    <div class="new-buttons">
    <form class="create-appointment" action="/appointments/new">
      <button class="add-button">Create Appointment</button>
    </form>
    <form class="register-pet" action="/pets/new">
      <button class="add-button">Register Pet</button>
    </form>
    </div>
    <div class="owner-info">
    <p>Name: {{owner.name}}</p>
    <p>Address: {{owner.address}}</p>
    <p>Email: {{owner.email}}</p>
    <p>Telephone: {{owner.telephone}}</p>
  </div>
    <div class="owner-pets">
    <label for="owner-pet" class="owner-pet-label"> Pets:</label>
    {% for pet in pets %}
        <div class="owner-pet">
        <a href="/pets/{{pet.id}}" style="text-decoration:none" class="owners-pet">{{pet.name}}</a>
      </div>
    {% endfor %}
    </div>
    <div class="show-buttons">
      <form class="back-to-owners" action="/owners">
        <button class="back-button">All Owners</button>
      </form>
      <form class="edit-owner" action="/owners/{{owner.id}}/edit">
        <button class="edit-button">Edit Owner</button>
      </form>
      <form class="delete-owner" action="/owners/{{owner.id}}/delete" method="POST">
          <button class="delete-button">Remove Owner</button>
      </form>
    </div>
  </div>

{% endblock %}