<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <title>Whiskers & Walkies</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>
</head>
<body class="body">
    <header class="header-left">
        <nav class="home-nav">
            <h2 class="home-nav"><img src="/static/img/favicon.ico" alt="logo" class="logo"><a href="/" style="text-decoration:none">Whiskers & Walkies</a><img src="/static/img/favicon.ico" alt="logo" class="logo"></h2>
        </nav>
    </header>
    <header class="header-middle"></header>
    <header class="header-right">
        <nav class="home-nav">
            <h2 class="home-nav"><a href="/owners" style="text-decoration:none" class="owners-nav">Owners Login</a></h2>
        </nav>
    </header>
    <main class="main">
        <aside class="aside-left"></aside>
        <section id="content">
            {% block content %}
      
            {% endblock%}
        </section>

    <aside class="aside-right"></aside>
    </main>
    <footer class="footer">
        <h3 class="footer-text">&#174;Whiskers & Walkies</h3>
    </footer>
</body>
</html>